@{
    ViewData["Title"] = "Login";
}

@model LoginModel


<div class="container">
    <center>
        <div class="p-3 mb-2 bg-light text-dark">
            <h2><center>Login</center></h2>
            <hr />
            <p>Hardcoded credentials: "user1234" "AwesomePassword123"</p>
        </div>
    </center>
</div>

<div class="container">
    <center>
        <div class="p-3 mb-2 bg-light text-dark">
            <form asp-controller="Login" asp-action="Login" method="post">
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input type="text" asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div>
                        <span class="text-danger">
                            @ViewBag.Message
                        </span>
                        </div>
                    }
            </form>
        </div>
    </center>
</div>