@{
    ViewData["Title"] = "Welcome";
}


@model AuthenticatedModel

<div class="container">
    <center>
        <div class="p-3 mb-2 bg-light text-dark">
            <h2><center>Welcome, @Model.Username.</center></h2>
            <hr />
            <p>
                Happy to see you're back!
            </p>
        </div>
    </center>
</div>
