@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <center>
        <div class="p-3 mb-2 bg-light text-dark">
            <h2><center>Welcome to my awesome interview task</center></h2>
            <hr />
        </div>
    </center>
</div>
<center>
    <div>
        <a asp-controller="Login" asp-action="Login" method="get" class="btn btn-primary">Login</a>
    </div>
</center>
